.common{
    /* border: 2px solid white; */
    position: absolute;
  }
  
  .nav{
    position: relative;
    float: right;
    font-size: 100%;
  }
  
  .footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 50%;
    font-style: italic;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.75);
    color: black;
  }
  
  .header{
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: -1;
  }
  
  .content{
    top: 70px;
    left: 10%;
    right: 10%;
    background-color: rgba(18, 171, 138, 0.5);
  }
  